
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:ZuHaSaPeWa
deny from 94.79.33.20
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZuHaSaPeWa:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:eXeWesuBug
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://mirea.16mb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mirea.16mb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mirea.16mb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mirea.16mb.com$      [NC]
RewriteRule .*\.(1)$ http://http://mirea.16mb.com [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eXeWesuBug:HOTLINKID

Options -Indexes
Options -MultiViews
ErrorDocument 403 /403.php 
RewriteBase /

RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml

DirectoryIndex index.php index.html
#http://al.ndd.ru/12/apache-conf_access.html  http://terminator.at.ua/faq/1-1

#заменить в ссылках .php на / 
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

